name: Assignment CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Notify pipeline start
        run: echo "CI/CD pipeline started – notification sent"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t sbiapplication:1.0 .

      - name: Notify pipeline end
        if: always()
        run: echo "CI/CD pipeline finished – notification sent"
