name: React CI Pipeline - DockerHub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/sbiapplication:${{ github.run_number }} \
          .

      - name: Push Docker image
        run: |
          docker push \
          ${{ secrets.DOCKERHUB_USERNAME }}/sbiapplication:${{ github.run_number }}

      - name: Notify pipeline end
        run: echo "Image pushed successfully"
